.header{
    height: var(--header-height);
    background-image: linear-gradient(0,#ff6533, #f53e2d);
}
.header__navbar{
    display: flex;
    justify-content: space-between;
    height: var(--navbar-height);
}
.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 8px;
}
.header__navbar-item{
    margin: 0px 8px;
    position: relative;
}
.header__navbar-item,
.header__navbar-item-link{
    display: inline-block;
    font-size: 1.4rem;
    color: var(--while-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-item:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255, 255, 255, 0.7);
}
.header__navbar-item--bold{
    font-weight: 500;
}
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__navbar-item--separate::after{
    position: absolute;
    width: 1px;
    content : "";
    height: 16px;
    background-color: #f86c5c;
    margin-left: 0.8rem;
}
.header__navbar-icon{
    font-size: 1.8rem;
    margin: 0px 4px;
}
.header__navbar-label--no-pointer{
    cursor: text;
    color: var(--while-color);
}
/* Header QR code */
.header__qr{
    width: 186px;
    position: absolute;
    top: 200%;
    left: 0;
    border-radius: 10px;
    display: none;
    animation : fadeIn ease-in 0.5s;
}
.header__qr-image{
    width: 100%;
}
.header__qr-apps{
    display: flex;
    justify-content: space-around;
}
.header__qr-download-img{
    height: 16px;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}
.header__qr::before{
    position: absolute;
    width: 100%;
    content: "";
    height: 20px;
    top: -2rem;
    display: block;
}
/* Notify */
.header__notify{
    display: none;
    position: absolute;
    top: 150%;
    right: 0;
    width: 400px;
    background-color: var(--while-color);
    border: 1px solid #D3D3D3;
    cursor: default;
    transform-origin: 90% top;
    animation: headerNotifyGrowth ease-in 0.25s;
    will-change: opacity, transform;
    z-index: 2;
}
.header__notify::before{
    position: absolute;
    width: 100%;
    content: "";
    height: 20px;
    top: -2rem;
    display: block;
}
.header__notify::after{
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 20px 30px;
    border-color: transparent transparent var(--while-color) transparent;
    right: 4px;
    top: -28px;
}
@keyframes headerNotifyGrowth {
    from{
        opacity: 0;
        transform: scale(0);
    }to{
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header{
    height: 40px;
    background-color: var(--while-color);
}
.header__notify-header h4{
    color : #666;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 40px;
    cursor: text;
}

.header__notify-list{
    padding-left: 0px;
}

.header__notify-item{
    width: 100%;
}
.header__notify-item--viewed{
    background-color: rgba(246, 64, 46,0.1);
}
.header__notify-item--viewed:hover{
    background-color: #f1f1f1;
}
.header__notify-link{
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img{
    width: 48px;
    object-fit: contain;
}
.header__notify-content{
    margin-left: 12px;
}
.header__notify-name{
    display: block;
    font-size: 1.4rem;
    line-height: 3rem;
    font-weight: 300;
    color: var(--black-color);
}

.header__notify-description{
    display: block;
    font-size: 1.2rem;
    color: var(--black-color);
    opacity: 0.7;
}

.header__notify-footer{
    display: flex;
}

.header__notify-footer-link{
    text-decoration: none;
    font-size: 1.6;
    margin: auto;
    padding: 10px;
}

/* Auth modal */
.modal{
   display: none;
}
.auth-form{
    width: 500px;
}
.auth-form__container{
    padding: 0px 32px;
}
.auth-form__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.auth-form__heading{
    font-size: 2rem;
    font-weight: 500;
    color: var(--text-color);
}
.auth-form__switch-btn{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}
.auth-form__form{
}
.auth-form__input{
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    width: 100%;
    height: 40px;
    border: 1px solid var(--border--color);
    border-radius: 5px;
    outline: none;
}
.auth-form__input:focus{
    border-color: #777;
}
.auth-form__aside{
    padding: 0 12px;
    margin-top: 18px;
}
.auth-form__policy-text{
    font-size: 1.2rem;
    text-align: center;
}
.auth-form__text-link{
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}
.btn +.btn{
    margin-left: 8px;
}
.auth-form__socials{
    background-color: #f5f5f5;
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.btn--with-icon{
    flex: 1;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.auth-form__socials-icon{
    font-size: 1.8rem;
    min-width: 40px;
    margin-left: 16px;
}
.auth-form__socials--content{
    flex: 1;
}
.auth-form__socials--facebook{
    color: var(--while-color);
    background-color: rgb(27, 27, 151);
}
.auth-form__socials--google{
    color: var(--text-color);
    background-color: #dbdbdb;
}
/* Header with search */
.header-with-search{
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    padding: 0px 8px;
}
.header__logo{
    width: 200px;
   padding: 10px 0px 20px 0px;
}
.header__logo-img{
    width: 150px;
}
.header__search{
    flex: 1;
    background-color: #fff;
    height: 36px;
}
.header__card{
    width: 150px;
    display: flex;
    position: relative;
}
.header__card-icon-wrap{
    margin: auto;
    cursor: pointer;
}
.header__card-icon-wrap:hover .header__card-list{
    display: flex;
}
.header__card-icon{
    margin: auto;
    font-size: 2.2rem;
    color: var(--while-color);
}

.header__card-notice{
    position: absolute;
    padding: 1px 6px;
    background-color: var(--while-color);
    border-radius: 10px;
    top: -12px;
    font-size: 1.2rem;
    line-height: 1.4rem;
    right: 42px;
    border: 2px solid #f53e2d;
}

.header__card-list{
    position: absolute;
    top: calc(100% + 12px);
    right: 50px;
    background-color: var(--while-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0px 1px 2px #ccc;
    display: none;
    flex-direction: column;
    z-index: 1;
    animation: fadeIn ease-in 0.2s;
    cursor: default;
}
.header__card-list::after{
    cursor: pointer;
    content: "";
    position: absolute;
    right: 4px;
    top: -28px;
    border-width: 16px 20px;
    border-style: solid;
    border-color: transparent transparent var(--while-color) transparent;
}
.header__card-list--no-card{
    padding: 28px 0;
}
.header__card-list--no-card .header__card-no-card-img,
.header__card-list--no-card .header__card-list-no-card-msg{
    display: block;
}
.header__card-list--no-card .header__card-heading,
.header__card-list--no-card .header__card-list-item,
    .header__card-list--no-card .header__card-view-card{
    display: none;
}
.header__card-no-card-img{
    width: 50%;
    margin: auto;
    display: none;
}
.header__card-list-no-card-msg{
    display: none;
    margin: auto;
    margin-top: 12px;
    font-size: 1.4rem;
    font-weight: 300;
    color: #666;
}

/* Card list item */
.header__card-heading{
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
}
.header__card-list-item{
    padding-left: 0;
    list-style: none;
}
.header__card-item{
    display: flex;
    align-items: center;
}
.header__card-item:hover{
    background-color: #F8F8F8;
}

.header__card-item-img{
    width: 42px;
    margin: 12px;
    border: 1px solid #ccc;
}

.header__card-item-info{
    width: 100%;
    margin-right: 12px;
}

.header__card-item-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header__card-item-price-wrap{
    margin-top: 8px;
}

.header__card-item-name{
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
}

.header__card-item-price{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__card-item-multily{
    font-size: 1rem;
    color: #999;
}

.header__card-item-qnt{
    font-size: 1.2rem;
    color: #999;
}

.header__card-item-body{
    display: flex;
    justify-content: space-between;
    margin-top: 6px;
    align-items: center;
}

.header__card-item-description{
    color: #777;
}

.header__card-item-remove{
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}

.header__card-item-remove:hover{
    color: var(--primary-color);
}

.header__card-view-card{
   height: 44px;
}
.header__card-view-card button{
    position: absolute;
    right: 0;
    margin: 0 12px 12px 0;
}
.header__card-view-card button:hover{
    background-color: #f86c5c;
}

.header__search{
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.header__search-input-wrap{
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    font-size: 1.4rem;
    padding: 0px 16px;
    color: var(--text-color);
    border-radius: 5px;
}
.header__search-select{
    border-left: 2px solid #ccc;
    min-width: 120px;
    font-size: 1.4rem;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}
.header__search-select:hover .header__search-option{
    display: block;
    cursor: pointer;
}
.header__search-select-icon{
    opacity: 0.7;
    margin: 0px 0px 0px 4px;
    position: relative;
    top : 1px;
}
.header__search-btn{
    height: 32px;
    background-color: rgb(245, 68, 52);
    border: none;
    outline: none;
    color: var(--while-color);
    width: 70px;
    margin: 0 2px 0 0;
    border-radius: 5px;
}
.header__search-btn:hover{
    opacity: 0.8;
    cursor: pointer;
}
.header__search-btn-icon{
    font-weight: 100;
    font-size: 1.2rem;
}
.header__search-option{
    position: absolute;
    list-style: none;
    background-color: var(--while-color);
    right: 0;
    border-radius: 3px;
    width: 160px;
    box-shadow: 0 0 3px #ccc;
    padding: 0;
    display: none;
    animation: fadeIn ease-in 0.3s;
}
.header__search-option::before{
    height: 12px;
    width: 100%;
    content: "";
    display: block;
    top: -12px;
    position: relative;
    background-color: transparent;
}
.header__search-option-item{
    padding: 8px;
    display: block;
    width: 100%;
}
.header__search-option-item:hover{
    background-color: #ccc;
    cursor: pointer;
}
.header__search-option-item span{
    margin: 0 8px 0 16px;
    font-size: 1.6rem;
}
.header__search-option-item i{
    color: var(--primary-color);
    font-size: 1rem;
    display: none;
}
.header__search-option-item--active i{
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
/* Search history  */
.header__search-history{
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    background-color: var(--while-color);
    border-radius: 5px;
    box-shadow: 0 1px 4px #999;
    display: none;
}
.header__search-history-heading{
    font-size: 1.2rem;
    font-weight: 300;
    color: #999;
    margin: 8px 12px;
}
.header__search-history-list{
    padding: 0;
    list-style: none;
    margin: 0;
}
.header__search-history-item{
    height: 34px;
    padding: 0 12px;
}
.header__search-history-item:last-child{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header__search-history-item:hover{
    cursor: pointer;
    background-color: #fafafa;
}
.header__search-history-item a{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 34px;
}

/* Container */
.app__content{
    padding-top:36px ;
}
.app__container{
    background-color: rgb(237,237,237);
}
.category{
    background-color: var(--while-color);
    border-radius: 2px;
}
.category__heading{
    margin-top: 0;
    font-size: 1.6rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0,0,0,0.05);
}
.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 4px;
}
.category-list{
    padding:0 0 8px 0;
    list-style: none;
    margin-left: 10px;
}
.category-item{
    margin: 8px 0;
}
.category-item--active .category-item__link{
    color: var(--primary-color);
}
.category-item--active .category-item__link::before{
    position: absolute;
    content: "";
    top :50%;
    left: 6px;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color: transparent transparent transparent var(--primary-color);
}
.category-item__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1;
    position: relative;
    right: 0;
}
.category-item__link:hover{
    right: -4px;
    color: var(--primary-color);
}
/* Home filter and sort */
.home-filter{
    background-color: rgba(0,0,0,0.05);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__label{
    color: #555;
    font-size: 1.4rem;
    margin-right: 16px;
}
.home-filter__btn{
    margin-right: 2px;
    min-width: 90px;
}

.home-filter__page{
    display: flex;
}
.select-input__label{
    font-size: 1.4rem;
}
.home-filter__page{
    margin-left: auto;
    align-items: center;
    display: flex;
}
.home-filter__page-num{
    font-size: 1.4rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current{
    color: var(--primary-color);
}
.home-filter__page-control{
    border-radius:2px ;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn{
    background-color: var(--while-color);
    width: 36px;
    height: 36px;
    flex: 1;
    display: flex;
    align-items: center;
    text-decoration: none;
}
.home-filter__page-btn:first-child{
    border-right: 1px solid #eee;
}
.home-filter__page-icon{
    margin: auto;
    font-size: 1.2rem;
    color: #555;
}
.home-filter__page-btn--disabled{
    background-color: rgb(233, 233, 233);
}

/* Home product item */
.home-product-item{
    background-color: var(--while-color);
    background-size: contain;
    margin-top: 10px;
    position: relative;
}

.home-product-item__img{
    padding-top: 100%;
    background-repeat: no-repeat;
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex;
    margin-left: 10px;
    align-items: baseline;
}

.home-product-item__price-old{
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
    margin-right: 6px;
}

.home-product-item__price-current{
    color: var(--primary-color);
    font-size: 1.6rem;
}

.home-product-item__action{
    margin:4px 12px;
    display: flex;
    justify-content: space-between;
}

.home-product-item__like{

}

.home-product-item__rating{
    font-size: 1rem;
    transform: scale(0.8);
    transform-origin:right ;
    color: #999;
    margin:-1px 0 0  auto;
}

.home-product-item__origin{
    display: flex;
    margin: 3px 12px 0 12px;
    color: #5959;
    font-size: 1.2rem;
    font-weight: 300;
}

.home-product-item__brand{

}

.home-product-item__origin-name{
    margin-left: auto;

}

.home-product-item__favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    /* background-color: var(--primary-color); */
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
.home-product-item__favorite i{
    margin: 0 2px 0 5px;
    font-size: 0.8rem;
}
.home-product-item__favorite span{
    color: var(--while-color);
}
.home-product-item__favorite::before{
    content: "";
    display: block;
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
}
.home-product-item__sale-off{
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(255, 216, 0,0.94);
    text-align: center;
}

.home-product-item__sale-off-percent{
    color: red;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2;
    padding: 2px 0 1px 0;
}

.home-product-item__sale-off-label{
    font-size: 1.4rem;
    line-height: 1.4rem;
    color: var(--while-color);
    font-weight: 600;
}
.home-product-item__like--liked{

}
.home-product-item__sale-off::after{
    content: "";
    display: block;
    border-style: solid;
    border-width: 0 20px 6px;
    border-color: transparent rgb(255, 216, 0,0.94) transparent rgb(255, 216, 0,0.94)  ;
    bottom: -6px;
    position: absolute;
}

.home-product-item__like-icon-empty{
    font-size: 1.4rem;
}

i.home-product-item__like-icon-fill{
    color: var(--primary-color);
    display: none;
    font-size: 1.4rem;
}
.home-product-item__like--liked .home-product-item__like-icon-fill{
    display: inline-block;
}
.home-product-item__like--liked .home-product-item__like-icon-empty{
    display: none;
}   
.home-product-item__star-gold{
    color: var(--start-gold-color);
}
.home-product-item__sold{
    font-size: 1.2rem;
    margin-left: 2px;
}

